body{
  background-color: lightgrey;
}
.entire-board{
  width: 100%;
  height: 500px;
  background-color: green;
  padding-top: 100px;
}
/*
.card-board{
  width: 50%;
  height: 80%;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -80px;

}
*/
.button{
  margin-left: 200px;
  display: inline-block;
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 15px;
  font-size: 24px;
}
.new-deal{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: firebrick;
  font-size: 25px;
  margin-left: 40px;
}
.button:hover{
  background-color: red;
}
.player-name-plate{
  width: 100px;
  height: 40px;
  border: black;
  background-color: lightblue;
  float: right;
  margin-top: 300px;
}
.dealer-name-plate{
  width: 100px;
  height: 40px;
  border: black;
  background-color: lightblue;
  float: right;
}
.playing-cards{
  height: 150px;
  margin-right: 10px;
  margin-left: -90px;

}
.value{
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  background-color: black;
  color: gold;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid grey;
  text-align: center;

}
.dealer-cards{
  margin-left: 120px;
}
.player-cards{
  margin-left: 500px;
}
img{
  height: 150px;
}
