body{
  background-image: url("Table.png");
  font-family: monospace;
}
.entire-board{
  width: 100%;
  height: 100%;
  background-image: url("Table.png");
  padding-top: 2vh;
}
/*
.card-board{
  width: 50%;
  height: 80%;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -80px;

}
*/
.button{
  display: inline-block;
  width: 12vh;
  height: 12vh;
  background-color: #140EBF;
  color: black;
  border-radius: 50%;
  font-size: 3vh;
  font-family: monospace;
  border: .3em black dashed;
}
.hit{
  margin-left: 15%;
}
.stand{
  margin-left: 2%;
}
.value{
  margin-left: 38%;
  height: 8vh;
  width: 8vh;
  background-color: gold;
  color: black    ;
  font-size: 2.5vh;
  border-radius: 50%;
  border: .25em dashed black;
  text-align: center;
  line-height: 2.5em;
}
.new-deal{
  border-radius: 50%;
  height: 13vh;
  width: 13vh;
  background-color: firebrick;
  font-size: 3vh;
  margin-left: 25%;
  font-family: monospace;
  border: 5px dashed black;
}
.new-deal:hover{
  background-color: white;
}
.button:hover{
  background-color: white;
}
.player-name-plate{
  width: 10%;
  border: 1px;
  margin-left: 33%;
  display: inline-block;
  font-family: monospace;
  font-size: 2.5em;
  color: firebrick;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.dealer-name-plate{
  width: 10%;
  border: 1px;
  margin-left: 15%;
  display: inline-block;
  font-family: monospace;
  font-size: 2.5em;
  color: firebrick;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.playing-cards{
  height: 27vh;
  margin-left: -14.5vh;
}
img{
  height: 27vh;
}
.dealer-cards{
  height: 35%;
  margin-left: 20%;
  width: 50%;
}
.player-cards{
  height: 35%;
  margin-left: 60%;
  width: 50%;
}

.messages {
    font-size: 8em;
    color: red;
    position: absolute;
    width: 100%;
    top: 48%;
    left: -23%;
    text-align: center;
    display: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.top-messages {
  font-size: 8em;
  color: red;
  position: absolute;
  width: 100%;
  top: 18%;
  left: 10%;
  text-align: center;
  display: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.koala{
  background-image: url("koala.jpg");
  border-radius: 50%;
  background-position: center;
  background-size: 135%;
  height: 15em;
  width: 15em;
  position: absolute;
  top: 25%;
  margin-left: 1%;
  display: none;

}
.margay{

  background-image: url("margay.jpg");
  border-radius: 50%;
  background-position: center;
  background-size: 135%;
  height: 15em;
  width: 15em;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: 17%;
  display: none;
}
.blackjack{
  font-size: 25vh;
  margin-left: 5%;
}
